shane_chages/
cromwell-workflow-logs/
cromwell-executions/
.Rhistory
cromwell/
*.buildinfo
*.html
*.js
*.doctree
*.css
docs/_build/
docs/chapters/
*.ai
ficus_runs/
data/rRNA_databases
1781*
12889*
metadata_out.json
*.bam
*.gtf
Notes.md
shane_chages/*.wdl
.DS_Store
*.fa.gz
sftp.json
settings.json
*.pyc
*.zip
test_data/
/*/*.test